<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
</head>
<link rel="stylesheet" type="text/css" href="__CSS__/bd_user.css">
<link rel="stylesheet" href="__CSS__/reset.css" />
<link rel="stylesheet" href="__CSS__/home.css">
<link rel="stylesheet" href="__CSS__/main.css" />
<style type="text/css">
    .user_login_reg {
        width: 200px;
        height: 85px;
        float: right;
		margin-right: -770px;
        right: 230px;
        text-align: left;
        line-height: 85px;
        color: #55A4FF;
        font-size: 13px;
    }

    .user_login_reg a {
        color: #55A4FF;
    }
</style>
<body style="color: #EDF1F3">
<div class="g-doc">
    <div class="g-hd">
          <div class="g-hdm">
              <a class="logo" href="http://gamepp.com/" target="_blank" title="最好的免费游戏录像软件_硬件监控工具_游戏截图工具_游戏加加官网GamePP|FPS"><img alt="专业贴心好用的游戏加加" src="__IMG__/logo.gif" width="322" height="49"></a>
              <div class="g-hdmn" id="g-hdmn">
                <a href="../index.html" target="_self">首页</a>
        <div class="n">超级助手</div>
                <a href="../download/download.html" target="_self">下载中心</a>
                  <!--<a href="../patchfile/patchfile.html" target="_self">游戏运行库</a>-->
                <a href="../log/log.html" target="_self">更新日志</a>
                <a href="../help/help.html" target="_self">使用帮助</a>
                <a href="http://bbs.gamepp.com" target="_blank">论坛</a>
              </div>
          </div>
            <div class="user_login_reg">
				{if condition="$data.is_login eq 0"}
               <a href="http://plgn.gamepp.com/?s=/index/login/index.html">登录</a> | <a href="http://plgn.gamepp.com/?s=/index/register/index.html">注册</a>
				{else/}
				<img src="{$data['header_img']}" style="width: 35px;height: 35px; float: left;margin-top: 23px;border-radius: 50%">
				&nbsp;&nbsp;
				<text style="color: #3D3D3D">{$data['nickname']}</text>
				<a href="{:url('index/personal/logout')}">退出</a>
				{/if}
          	</div>
    </div>
</div>

	<div class="reg_center_big">
			<div id="tab_left">
				<ul class="tabGroup" style="margin-top: 10px;margin-left: 30px">
					<li id="m1" class="on" onclick="javascript:gopage(1)" style="color: #2398F1;">个人信息设置
                        {if condition="$data.ws_info eq 1"}
                        <div class="no_check" style="color: green">
                        已完善
                        </div>
                        {else/}
                        <div class="no_check">
                        未完善
                        </div>
                        {/if}
                        <div class="blueline" id="l1"></div></li>
					<li id="m2" onclick="javascript:gopage(2)">社交账号绑定<div class="no_check"></div><div class="blueline" id="l2" style="display: none;"></div></li>
					<li id="m3" onclick="javascript:gopage(3)">修改密码<div class="no_check"></div><div class="blueline" id="l3" style="display: none;"></div></li>
				</ul>
			</div>
			
			<div id="container">
				<div id="content">
					<div id="c1">
						<form>
							<div class="my_info">
							<h3 style="color: #4D4D4D;font-family:'Microsoft yahei';font-size: 16px;"><b>个人信息设置</b></h3>
							<div class="my_info_con">
								<ul class="tabGroup_my">
									<li class="tabGroup_my_li1">用户昵称&nbsp;&nbsp;&nbsp;<input type="text" name="nickname" id="nickname" value="{$data['nickname']}">&nbsp;&nbsp; <tit id="error" style="color: #999;font-size: 13px">(用于游戏组队和勇士系统,不超过16个字符)</tit></li>
									 {if condition="$data.user_sex eq 1"}
									<li class="tabGroup_my_li2">性别 <input name="user_sex" type="radio" value="1" checked />&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="user_sex" type="radio" value="0" />&nbsp;&nbsp;女</li>
									{else/}
									<li class="tabGroup_my_li2">性别 <input name="user_sex" type="radio" value="1" />&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="user_sex" type="radio" value="0" checked />&nbsp;&nbsp;女</li>
									{/if}
									<li class="tabGroup_my_li3">绑定邮箱&nbsp;&nbsp;&nbsp;{:session('username')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" id="c_email" style="text-decoration: none;color: #1692F0;">更换邮箱</a></li>
                                    <input type="hidden" id="email" name="email" value="{:session('username')}">
								</ul>

								<div class="my_info_sub">
									<button class="my_info_sub1" type="submit">取消修改</button>
									<button class="my_info_sub2" id="submit" type="submit" style="background: #108FF0;">确认修改</button>
								</div>
							</div>
						</div>
						</form>
					</div>
				
					<div id="c2" style="display:none">
						<form style="color: #3D3D3D">
							<div class="my_info">
							<h3 style="color: #4D4D4D;font-family:'Microsoft yahei';font-size: 16px;"><b>社交账号绑定</b></h3>
							<div class="my_info_con">
								<ul class="tabGroup_my_img">
									
									<li class="tabGroup_img_li1">
										
											{if condition="$data.user_steam_id eq 1"}
										<img src="__IMG__/ic_steam_0.png">
										<div class="bd_content">
											<span class="bd_type">Steam账号</span>
											<a href="javascript:void(0)"><div class="bd_no">取消绑定</div></a>
											<span class="bd_state">已绑定</span>
											</div>
											{else/}
											<img src="__IMG__/ic_steam_0.png">
										<div class="bd_content">
											<span class="bd_type">Steam账号</span>
											<a href="javascript:void(0)" onclick="bd_wb_type_add(3)"><div class="bd_ok">+ 绑定</div></a>
											<span class="bd_state">未绑定</span>
											</div>
											{/if}
										
									</li>
									
									<li class="tabGroup_img_li2">
										
											{if condition="$data.user_qq_id eq 1"}
										<img src="__IMG__/ic_qq_1.png">
										<div class="bd_content">
											<span class="bd_type">QQ</span>
											<a href="javascript:void(0)"><div class="bd_no">取消绑定</div></a>
											<span class="bd_state">已绑定</span>
											</div>
											{else/}
											<img src="__IMG__/ic_qq_0.png">
										<div class="bd_content">
											<span class="bd_type">QQ</span>
											<a href="javascript:void(0)" onclick="bd_wb_type_add(2)"><div class="bd_ok">+ 绑定</div></a>
											<span class="bd_state">未绑定</span>
											</div>
											{/if}
										
									</li>
									
									
									<li class="tabGroup_img_li3">
										
											{if condition="$data.user_wx_id eq 1"}
										<img src="__IMG__/ic_wechat_1.png">
										<div class="bd_content">
											<span class="bd_type">微信</span>
											<a href="javascript:void(0)"><div class="bd_no">取消绑定</div></a>
											<span class="bd_state">已绑定</span>
											</div>
											{else/}
											<img src="__IMG__/ic_wechat_0.png">
										<div class="bd_content">
											<span class="bd_type">微信</span>
											<a href="javascript:void(0)" onclick="bd_wb_type_add(1)"><div class="bd_ok">+ 绑定</div></a>
											<span class="bd_state">未绑定</span>
											</div>
											{/if}
										
									</li>
									
									
									<li class="tabGroup_img_li4">
										
											{if condition="$data.user_wb_id eq 1"}
										<img src="__IMG__/ic_weibo_1.png">
										<div class="bd_content">
											<span class="bd_type">微博</span>
											<a href="javascript:void(0)" onclick="bd_wb_type_del()"><div id="wb_bd_no" class="bd_no">取消绑定</div></a>
											<span id="wb_bd_state" class="bd_state">已绑定</span>
											</div>
											{else/}
										<img src="__IMG__/ic_weibo_0.png">
										<div class="bd_content">
											<span class="bd_type">微博</span>
											<a href="javascript:void(0)" onclick="bd_wb_type_add(0)"><div class="bd_ok">+ 绑定</div></a>
											<span  id="wb_bd_state" class="bd_state">未绑定</span>
											</div>
											{/if}
										
									</li>
									
								</ul>
							</div>
						</div>
						</form>
					</div>

					<div id="c3" style="display:none">
						<form>
							<div class="my_info">
							<h3 style="color: #4D4D4D;font-family:'Microsoft yahei';font-size: 16px;"><b>个人信息设置</b></h3>
							<div class="my_info_con">
								<ul class="tabGroup_my">
									<li class="tabGroup_my_li1">原始密码&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="y_pwd" id="y_pwd">
                                    &nbsp;&nbsp;<tit style="color: #999;font-size: 13px;margin: auto -4px;" id="errorp3">(6-16个字符,区分大小写)</tit></li>
                                    
									<li class="tabGroup_my_li1">新密码<input type="password" name="pwd" id="pwd" style="margin: auto 26px;">&nbsp;&nbsp;<tit style="color: #999;font-size: 13px;margin: auto -26px;" id="errorp1">(6-16个字符,区分大小写)</tit></li>
									<li class="tabGroup_my_li1">确认密码&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="pwd2" id="pwd2">&nbsp;&nbsp;<tit style="color: #999;font-size: 13px" id="errorp2">(请再次输入你的密码)</tit></li>
								</ul>

								<div class="my_info_sub">
									<button class="my_info_sub1" type="submit">取消修改</button>
									<button class="my_info_sub2" type="submit" id="submit1" style="background: #108FF0;">确认修改</button>
								</div>
							</div>
						</div>
						</form>
					</div>
			
				</div>
			</div>
</div>
	<div class="footer">
				游戏加加Game++版权所有,&copy;2013-2017蜀ICP备15011947号-1<br />
				GamePP.com联系电话:028-86095311
	</div>

<input type="hidden" id="username_email" value="{:session('username')}">
</body>
<script type="text/javascript" src='__JS__/jquery.min.js'></script>
<script type="text/javascript" src="__JS__/md5.min.js"></script>
<script type="text/javascript">
	//取消绑定微博
	function bd_wb_type_del(){
	    var username_email = $("#username_email").val();
        $.ajax({
            url: '{:url("index/Personal/bd_wb_type_del")}',
            data: {'username_email': username_email},
            dataType: 'json',
            type: 'post',
            success: function (msg) {
                //要求服务器返回一个success成员,值为true
                if (msg.success === true) {
                    $("#wb_bd_no").removeClass("bd_no");
                    $("#wb_bd_no").addClass("bd_ok");
                    $("#wb_bd_no").text('+ 绑定');
                    $("#wb_bd_state").text('未绑定');
                } else if (msg.success === false) {
                	alert(msg.error);
                }
            }
        });
	}
    //绑定微博
    function bd_wb_type_add(id){
	    //获取邮箱
        var uemail = $('#username_email').val();
        //获取登录方法
		var url_type = window.location.href;
        var act_type = url_type.split('act_type/')[1].substr(0, 1);
		
	    var url = "{:url('index/login/weibologin',['bd_type'=>'bd_type_id','uemail'=>'uemail_str','act_type'=>'act_type'])}";
	    var str = url.replace('uemail_str',uemail);
	    var res = str.replace('bd_type_id',id);
	    var href = res.replace('act_type.html',act_type);
	   	if(id == '0'){
            window.location.href = href;
		}
	    
	   
	}
	
	$("#c_email").click(function () {
        window.location.href = "{:url('index/personal/cemail')}";
        if (navigator.userAgent.indexOf("MSIE") > 0) {
            if (navigator.userAgent.indexOf("MSIE 6.0") > 0) {
                window.opener = null;
                window.close();
            } else {
                window.open('', '_top');
                window.top.close();
            }
        }
        else if (navigator.userAgent.indexOf("Firefox") > 0) {
            window.location.href = 'about:blank ';
        } else {
            window.opener = null;
            window.open('', '_self', '');
            window.close();
        }
    });
    $(document).ready(function () {
        var nickname = $('#nickname'), pwd = $('#pwd'), pwd2 = $('#pwd2'), y_pwd = $('#y_pwd'), submit = $('#submit'),
            submit1 = $('#submit1');
        nickname.blur(function () {
            user_code();
        });

        function user_code() {
            if (nickname.val() == '') {
                $('#error').css('color', 'red');
                return $('#error').text('用户昵称不能为空');
            }
            if (nickname.val().length > 18) {
                $('#error').css('color', 'red');
                return $('#error').text('用户昵称最多16个字符');
            }
            if (nickname.val().length < 4) {
                $('#error').css('color', 'red');
                return $('#error').text('用户昵称最少4个字符');
            }

            $('#error').css('color', 'green');
            $('#error').text('(用户昵称符合要求)');

            return true;
        }

        submit.on('click', function (event) {
            event.preventDefault();
            var nickname = $('#nickname').val();
            var user_sex = $('input:radio:checked').val();
            var email = $('#email').val();
            if (user_code() == true) {
                //设置ajax
                $.ajax({
                    url: '{:url("index/Personal/up_my_info")}',
                    data: {'nickname': nickname, 'user_sex': user_sex, 'email': email},
                    dataType: 'json',
                    type: 'post',
                    success: function (msg) {
                        //要求服务器返回一个success成员,值为true
                        if (msg.success === true) {
                            $('#error').css('color', 'green');
                            $('#error').text('修改成功');
                        } else if (msg.success === false) {
                            if (msg.error == '300') {
                                $('#error').css('color', 'red');
                                $('#error').text(msg.info);
                            }
                        }
                    }
                });
            }
        });

        y_pwd.blur(function () {
            if (y_pwd.val() == '') {
                $("#errorp3").css('color', 'red');
                return $('#errorp3').text('请输入原密码');
            } else {
                $('#errorp3').text('');
            }
        });

        pwd.blur(function () {
            pwd_code();
        });

        function pwd_code() {
            if (pwd.val() == '') {
                $("#errorp1").css('color', 'red');
                return $('#errorp1').text('密码不能为空');
            } else {
                $('#errorp1').text('');
            }
            if (pwd.val().length > 16 || pwd.val().length < 6) {
                $("#errorp1").css('color', 'red');
                return $('#errorp1').text('密码长度为6-16字符');
            } else {
                $('#errorp1').text('');
            }

            pwd2.blur(function () {

            });
            return true;
        }

        submit1.on('click', function (event) {
            event.preventDefault();
            if ($('#pwd').val() !== $('#pwd2').val()) {
                $("#errorp2").css('color', 'red');
                return $('#errorp2').text('两次输入密码不一致');
            } else {
                $('#errorp2').text('');
            }
            var pwd_len = $('#y_pwd').val().length;
            var y_pwd = md5($('#y_pwd').val());
            var pwd = md5($('#pwd').val());
            var pwd2 = md5($('#pwd2').val());
            
            if (pwd_code() == true) {
                //设置ajax
                $.ajax({
                    url: '{:url("index/Personal/up_pwd")}',
                    data: {'y_pwd': y_pwd, 'pwd': pwd, 'pwd2': pwd2,'pwd_len':pwd_len},
                    dataType: 'json',
                    type: 'post',
                    success: function (msg) {
                        //要求服务器返回一个success成员,值为true
                        if (msg.success === true) {
                            var url = "{:url('index/gbpwd/gbpwd_ok')}";
                            window.location.href = url;
                        } else if (msg.success === false) {
                            if (msg.error == '300') {
                                $('#errorp1').css('color', 'red');
                                $('#errorp1').text(msg.info);
                            }
                            if (msg.error == '204') {
                                $('#errorp3').css('color', 'red');
                                $('#errorp3').text("原密码错误");
                            }

                            if (msg.error == '206') {
                                $('#errorp1').css('color', 'red');
                                $('#errorp1').text("新密码不能与原密码相同");
                            }

                            if (msg.error == '208') {
                                $('#errorp1').css('color', 'red');
                                $('#errorp1').text("密码长度为6-16字符");
                            }
                        }
                    }
                });
            }
        });
    });


    function gopage(n) {
        var tag = document.getElementById("tab_left").getElementsByTagName("li");
        var taglength = tag.length;

        for (i = 1; i <= taglength; i++) {
            document.getElementById("m" + i).className = "";
            document.getElementById("m" + i).style.color = "";
            document.getElementById("c" + i).style.display = 'none';
            document.getElementById("l" + i).style.display = 'none';
        }
        document.getElementById("m" + n).className = "on";
        document.getElementById("m" + n).style.color = "#2398F1";
        document.getElementById("c" + n).style.display = '';
        document.getElementById("l" + n).style.display = '';
    }
</script>
</html>