<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改密码</title>
</head>
<link rel="stylesheet" href="__CSS__/xgpwd.css">
<body>
	<div class="header"><img src="__IMG__/logo.png" alt=""><a href="http://gamepp.com/chichken/chichken.html" class="back">返回游戏官网页面</a></div>
	<div class="reg_center_big">
			<div class="reg_title">
				<h3>修改密码</h3>
				<form action="">
					<div id="p" class="form-group">
		  				<input id="password" class="form-control" spellcheck=false name="password" type="password" size="18" required="">
		  				<span class="form-highlight"></span>
		  				<span class="form-bar"></span>
		  				<label for="password" class="float-label">密码</label>
		  				<erroru id="errorp"></erroru>
					</div>

					<div id="p2" class="form-group">
		  				<input id="password2" class="form-control" spellcheck=false name="password2" type="password" size="18" required="">
		  				<span class="form-highlight"></span>
		  				<span class="form-bar"></span>
		  				<label for="password2" class="float-label">确认密码</label>
		  				<erroru id="errorp2"></erroru>
					</div>

					<div class="form-group">
						<button id="submit" type="submit" ripple>确认修改</button>
					</div>
				</form>
			</div>
	</div>

	<div class="footer">
				游戏加加Game++版权所有,&copy;2013-2017蜀ICP备15011947号-1<br/>
				GamePP.com联系电话:028-86095311
	</div>
</body>
<script type="text/javascript" src='__JS__/jquery.min.js'></script>
<script type="text/javascript">
$(document).ready(function () {
    var password = $('#password'),password2 = $('#password2'), errorp = $('errorp'), errorp2 = $('errorp2'),submit = $('#submit'), pdiv = $('#p'),pdiv2 = $('#p2'),rdiv = $('#r');
	
    password.blur(function () {
        pwd_code();
    });
    password2.blur(function () {
        if (password.val() !== password2.val()) {
            pdiv2.attr('errr', '');
            return $('#errorp2').text('两次输入密码不一致');
        } else {
            pdiv2.removeAttr('errr');
        }
    });
	
    function pwd_code(){
        if (password.val() == '') {
            pdiv.attr('errr', '');
            return $('#errorp').text('密码不能为空');
        } else {
            pdiv.removeAttr('errr');
        }
        if (password.val().length >16 || password.val().length < 6) {
            pdiv.attr('errr', '');
            return $('#errorp').text('密码长度为6-16字符');
        } else {
            pdiv.removeAttr('errr');
        }

        return true;
    }
    submit.on('click', function (event) {
        event.preventDefault();
        if(pwd_code() == true){
            if (password.val() !== password2.val()) {
                pdiv2.attr('errr', '');
                return $('#errorp2').text('两次输入密码不一致');
            }
			
            //前端验证成功,提交form表单信息给服务器存储
            var pwd = $('#password').val();
            var pwd2 = $('#password2').val();

            //获取当前url
            var url = window.location.search;
            var username = url.match(/username\/(\S*)\/uCode/)[1];
            var uCode = url.substr(-15);
            //设置ajax
            $.ajax({
                url:'{:url("index/gbpwd/xgpwd")}',
                data:{'pwd':pwd,'pwd2':pwd2,'username':username,'uCode':uCode},
                dataType:'json',
                type:'post',
                success:function (msg) {
                    //要求服务器返回一个success成员,值为true
                    if(msg.success===true){
                        var url = "{:url('index/gbpwd/gbpwd_ok')}";
                        window.location.href= url;
                    }else if(msg.success===false){
                        if(msg.error == '202'){
                            pdiv.attr('errr', '');
                            $('#errorp').text(msg.info);
                        }
                        if(msg.error == '204'){
                            pdiv.attr('errr', '');
                            return $('#errorp').text('修改密码失败,请重新找回');
                        }
                    }
                }
            });
        }
    });
});
</script>
</html>